[Unit]
Description=hatController
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/agcoda/interactiveHat/hatCommander.py
Restart=on-abort

[Install]
WantedBy=multi-user.target